*{
  box-sizing: border-box;
}

html,body,#root {
  height:100%;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.console__content {
  background-color: #000;
  color: #FFF;
}

.console__message-history {
  list-style: none;
  font-family: monospace;
  white-space: pre;
}

.console__input {
  background-color: #000;
  color: #FFF;
  margin-left: 40px;
  border: none;
  font-family: monospace;
  white-space: pre;
}
.console__input:focus {
  outline: none;
}
